body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 38px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.lightgray {
  background-color: #D3D3D3;
}
.whitesmoke {
  background-color: #F5F5F5;
}
.snow {
  background-color: #FFFAFA;
}
.gainsboro {
  background-color: #DCDCDC;
}
.steelblue {
  background-color: #708090;
}
.center {
  margin: auto;
  width: 90%;
  border: 1px solid black;
}
.round-border {
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 50%;
}

h1 {
    font-size: 40px;
    font-family: ;
    margin-top: 100px;
}

p1 {
  font-size: 28px; 
  margin-right: 36px;
  margin-left: 36px;
}

h2 {
    font-size: 40px;
    font-family: ;
    margin-top: 50px;
}
h3 {
    font-size: 40px;
    font-family: ;
    margin-top: 50px;
}
  
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

p2 {
  color: white;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

p3 {
  font-size: 28px; 
}
#flickrbtn {
  color: black;
  font-size: 50px;
}
#githubbtn {
  color: black;
  font-size: 50px;
}
#linkedinbtn {
  color: black;
  font-size: 50px;
}